body {
    background: slategray;
    color: white; 
}
header {
    
    padding: 10px;
    text-align: center;
    color: white; 
}

p {
    color: white; 
}

.container {
    border: 2px solid white;
    padding: 10px;
    margin: 10px auto;
}
 /* colors */
.color-container {
    width: 100%;
    text-align: center; 
}

.color-panel {
    display: inline-block;
    width: 20%; 
}

.minty-green {
    background-color: #76D7C4;
    margin: 20px;
}

.coral {
    background-color: #EC7063;
    margin: 20px;
}

.whispy-wisteria {
    background-color: #BB8FCE;
}

.icy-blue {
    background-color: #26C6DA;
}
/* fonts */
.font-container {
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.font-panel {
    display: inline-block;
    width: 20%;
    
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}